/* general */

body {
    position: relative;
    width: 100%;
    height: 1400px;
    background-image: linear-gradient(5deg, #ffffe4 0,
            #f2f5cf 25%, #dae2b6 50%, #c1d09f 75%, #aac18d 100%);
    font-family: 'Roboto Mono', monospace;
    margin: 0;

}


/* barra de navegacion  */
.barranavegacion {
    position: relative;
    display: flex;
    grid-column: 1/4;
    justify-content: end;
    height: 100%;
     z-index: 5;

}

.navegacion {
    position: absolute;
    display: inline-block;
    bottom: 20%;
    right: 0%;
    color: black;
   
}


#logomarca {
    position: absolute;
    left: 2%;
    top: 30%;
}

.seccionnavbar {
    display: inline;
    margin: 10px;
    z-index: 5;
}

.busqueda {
    position: absolute;
    display: contents;
}

.colapso {
    display: none;
}


a {
    text-decoration: none;
}


/* colapso plantas  */
.seccionnavbar:hover #navPlanta {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 60px;
    left: 32%;
    top: 80%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 2;
    text-align: center;
    padding: 0;
}

#navPlanta li {
    padding: 0 3px 0 3px;
    
}

/* titulos y subtitulos secciones  */

.tituloseccion {
    font-size: 4rem;

}

.subtituloseccion {
    font-size: 2.5rem;
}

/* footer  */

footer {
    position: absolute;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
    bottom: 74%;
}

#iconosFooter {

    display: flex;
    width: 200px;
    justify-content: space-around;
    
}


#iconosFooter img {
    height: 30px;
    width: 30px;
    opacity: .2;
    border: solid black 2px;
    border-radius: 50%;
    padding: 12%;
}

.visualE {
    position: absolute;
    display: inline;
    grid-column: 2/3;
    grid-row: 3/4;
    height: 2px;
    width: 120.6%;
    background-color: black;
    opacity: .2;
}