/* general */

body {
    position: relative;
    width: 100%;
    height: 1400px;
    background-image: linear-gradient(5deg, #ffffe4 0,
            #f2f5cf 25%, #dae2b6 50%, #c1d09f 75%, #aac18d 100%);
    font-family: 'Roboto Mono', monospace;


}


/* barra de navegacion  */
.barranavegacion {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    z-index: 5;

}

.navegacion {
    position: absolute;
    display: inline-block;
    bottom: 22%;
    right: 0%;
}


#logomarca {
    position: absolute;
    left: 0%;
}

.seccionnavbar {
    display: inline;
    margin: 10px;
    z-index: 5;
}

.busqueda {
    position: absolute;
    display: contents;
}

.colapso {
    display: none;
}


a {
    text-decoration: none;
}

/* colapso cuidados  */
.seccionnavbar:hover #navcuidados {
    position: absolute;
    display: inline;
    width: 100px;
    height: 110px;
    left: 32%;
    top: 80%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 5;
    text-align: center;
    padding: 0;

}


/* colapso interior  */

.seccionnavbar:hover #navinterior {
    position: absolute;
    display: inline;
    width: 120px;
    height: 150px;
    left: 43%;
    top: 80%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 2;
    text-align: center;
    padding: 0;

}

/* colapso exterior  */
.seccionnavbar:hover #navext {
    position: absolute;
    display: inline;
    width: 100px;
    height: 90px;
    left: 55%;
    top: 80%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 2;
    text-align: center;
    padding: 0;

}


.colapsoInterior {
    display: none;
}

.seccionExt:hover #navColapMaceta {
    position: absolute;
    display: inline;
    width: 100px;
    height: 90px;
    left: 100%;
    top: 0%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 2;
    text-align: center;
    padding: 0;

}

.seccionExt:hover #navColapTierra {
    position: absolute;
    display: inline;
    width: 100px;
    height: 130px;
    left: 100%;
    top: 0%;
    background-color: #AAA492;
    list-style-type: none;
    border-radius: 20px;
    opacity: .7;
    z-index: 2;
    text-align: center;
    padding: 0;

}



/* titulos y subtitulos secciones  */

.tituloseccion {
    font-size: 4rem;

}

.subtituloseccion {
    font-size: 2.5rem;
}