body {
  margin: 0;
}

* {
  font-family: "Roboto Mono", monospace;
}

.tituloseccion {
  font-size: 4rem;
  margin: 20px 0 20px 0;
}

.subtituloseccion {
  font-size: 2.5rem;
  margin: 20px 0 20px 0;
}

@media screen and (max-width: 576px) {
  .tituloseccion {
    font-size: 3rem;
  }
  .subtituloseccion {
    font-size: 1.6rem;
  }
}
.navbar {
  position: relative;
  display: flex;
  grid-column: 1/4;
  justify-content: end;
  height: 100%;
  z-index: 2;
}
.navbar #navbarSupportedContent {
  flex-grow: 0;
}
.navbar form .btn {
  color: black;
}

@media screen and (max-width: 768px) {
  .nav-link,
  .form-control {
    padding-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .collapse {
    background-color: #fafcc2;
    border-radius: 20px;
  }
}
.visualE {
  position: absolute;
  display: inline;
  grid-column: 2/3;
  grid-row: 3/4;
  height: 2px;
  width: 120.6%;
  background-color: black;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .visualE {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 70%;
    width: 2px;
    justify-self: center;
  }
}
@media screen and (max-width: 576px) {
  .visualE {
    height: 50%;
    align-self: center;
    bottom: 36%;
  }
}
#visualA-miplanta {
  position: absolute;
  display: inline;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: center;
  height: 100%;
  width: 2px;
  background-color: black;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  #visualA-miplanta {
    display: none;
  }
}
.visualForm {
  z-index: -1;
  opacity: 0.5;
}

#fondoAform {
  position: absolute;
  grid-column: 1/2;
  grid-row: 3/4;
  top: 35%;
  z-index: -1;
  opacity: 0.5;
}

#fondoBform {
  position: absolute;
  grid-column: 3/4;
  grid-row: 3/4;
  height: 700px;
  right: 45%;
  top: 10%;
  z-index: -1;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  #fondoBform {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #fondoAform {
    grid-column: 1/3;
    width: 100%;
    top: 25%;
  }
}
#visualAA {
  position: absolute;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  grid-row: 2/3;
  width: 200px;
  height: 250px;
  top: 20%;
  left: 67%;
}

#imgVisualSucu {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
}

#visualAB {
  position: absolute;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
  top: 26%;
  right: 16%;
  height: 132px;
  width: 80px;
  background-color: #F8C4B4;
  opacity: 0.5;
  border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  transform: rotate(50deg);
  animation: moveimg-sucu 3s ease infinite;
}

@keyframes moveimg-sucu {
  0% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
  50% {
    border-radius: 75% 31% 40% 71%/83% 44% 76% 61%;
    transform: rotate(40deg);
  }
  100% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
}
@media screen and (max-width: 768px) {
  #visualAB {
    right: 0%;
  }
}
@media screen and (max-width: 576px) {
  #imgVisualSucu {
    height: 80%;
    width: 80%;
  }
  #visualAA {
    top: initial;
    left: 15%;
    justify-self: start;
  }
  #visualAB {
    top: initial;
    right: 30%;
  }
}
#visualBA {
  position: absolute;
  display: inline;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 400px;
  height: 500px;
  align-self: end;
  justify-self: end;
  top: 25%;
}

#imgVisualArbol {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
}

#visualBB {
  position: absolute;
  display: inline;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
  top: 35%;
  right: 17%;
  height: 220px;
  width: 116px;
  background-color: #C9F4AA;
  opacity: 0.5;
  border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  transform: rotate(50deg);
  animation: moveimg-arbol 3s ease infinite;
}

@keyframes moveimg-arbol {
  0% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
  50% {
    border-radius: 75% 31% 40% 71%/83% 44% 76% 61%;
    transform: rotate(40deg);
  }
  100% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
}
@media screen and (max-width: 768px) {
  #visualBA {
    align-self: center;
    height: 400px;
    width: 300px;
    justify-self: center;
  }
  #visualBB {
    height: 170px;
    width: 90px;
    justify-self: center;
    top: 35%;
    right: 35%;
  }
}
@media screen and (max-width: 576px) {
  #imgVisualArbol {
    width: 80%;
    height: 80%;
  }
  #visualBA {
    height: 300px;
    width: 200px;
    align-self: center;
    justify-self: auto;
    left: 0%;
    top: 25%;
  }
  #visualBB {
    height: 150px;
    width: 100px;
    top: 30%;
    right: 0%;
    left: 35%;
  }
}
#visualCA {
  position: absolute;
  display: inline;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 40%;
  height: 60%;
  justify-self: center;
  align-self: end;
  transform: rotate(90deg);
}

#imgVisualCuidadogrl {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
}

#visualCB {
  position: absolute;
  display: inline-block;
  grid-column: 2/3;
  grid-row: 2/3;
  top: 51%;
  left: 40%;
  height: 220px;
  width: 116px;
  background-color: #B5EAEA;
  opacity: 0.5;
  border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  transform: rotate(90deg);
  animation: moveimg-cuigrl 3s ease infinite;
}

@keyframes moveimg-cuigrl {
  0% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
  50% {
    border-radius: 75% 31% 40% 71%/83% 44% 76% 61%;
    transform: rotate(70deg);
  }
  100% {
    border-radius: 34% 64% 77% 26%/73% 54% 45% 19%;
  }
}
@media screen and (max-width: 768px) {
  #visualCA {
    position: static;
    display: inline;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: end;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 576px) {
  #imgVisualCuidadogrl {
    width: 80%;
    height: 80%;
  }
  #visualCA {
    justify-self: end;
    align-self: center;
  }
  #visualCB {
    top: 25%;
    left: 30%;
    height: 35%;
    width: 40%;
  }
}
.tarjeta {
  display: flex;
  flex-direction: column;
  height: 59%;
  border: solid black 2px;
  border-radius: 15px;
  background-color: #ffffe4;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  transition: all 0.4s;
}
.tarjeta:hover {
  height: 100%;
}
.tarjeta .frente {
  display: flex;
  flex-direction: column;
}
.tarjeta .frente .img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
.tarjeta .frente h6 {
  margin: 10px 50px 0px 50px;
  font-size: 1rem;
  text-align: center;
}
.tarjeta .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.tarjeta .skills .titulo-skill {
  margin: 10px 0 10px 0;
}
.tarjeta .skills .badge {
  color: black;
  padding: 5px;
  border: solid 2px black;
  border-radius: 50px;
}

.tarjeta-1 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.tarjeta-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.tarjeta-3 {
  grid-row: 3/4;
  grid-column: 4/5;
}

.tarjeta-4 {
  grid-row: 4/5;
  grid-column: 5/6;
}

.tarjeta-5 {
  grid-row: 5/6;
  grid-column: 6/7;
  grid-column: 4/5;
}

.tarjeta-6 {
  grid-row: 6/7;
  grid-column: 7/8;
  grid-column: 3/4;
}

@media screen and (max-width: 768px) {
  .tarjeta-1 {
    grid-column: 1/2;
  }
  .tarjeta-2 {
    grid-column: 2/3;
  }
  .tarjeta-3 {
    grid-column: 1/2;
  }
  .tarjeta-4 {
    grid-column: 2/3;
  }
  .tarjeta-5 {
    grid-column: 1/2;
  }
  .tarjeta-6 {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 576px) {
  .tarjeta-1 {
    grid-column: 2/3;
  }
  .tarjeta-2 {
    grid-column: 2/3;
  }
  .tarjeta-3 {
    grid-column: 2/3;
  }
  .tarjeta-4 {
    grid-column: 2/3;
  }
  .tarjeta-5 {
    grid-column: 2/3;
  }
  .tarjeta-6 {
    grid-column: 2/3;
  }
}
/* footer  */
footer {
  position: absolute;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  bottom: 80%;
}
footer #iconosFooter {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
footer #iconosFooter #iconosFooter img {
  height: 40px;
  width: 40px;
  opacity: 0.2;
  border: solid black 2px;
  border-radius: 50%;
  padding: 10%;
}

@media screen and (max-width: 768px) {
  footer {
    position: absolute;
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    margin-bottom: 0;
    bottom: 3%;
  }
  footer #iconosFooter {
    flex-direction: column;
    width: 40px;
    height: 150px;
  }
}
@media screen and (max-width: 576px) {
  #iconosFooter img {
    height: 35px;
    width: 35px;
    padding: 12%;
  }
}
.galeria {
  position: absolute;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  opacity: 0.9;
  top: 20%;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .galeria {
    grid-template-columns: 1fr 80% 1fr;
    row-gap: 50px;
  }
}
.hero {
  position: fixed;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 70px 1fr 100px;
  grid-template-columns: 1fr 55% 1fr;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-rows: 81px 1fr;
    grid-template-columns: 1fr 60% 1fr;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 81px 86%;
  }
}

/*# sourceMappingURL=style1.css.map */
