// fuentes
$fuentePricipal: "Roboto Mono", monospace;


// colores pricipales
$fondoPricipal: linear-gradient(5deg, #ffffe4 0,#f2f5cf 25%, 
#dae2b6 50%, #c1d09f 75%, #aac18d 100%);


// colores body page 
$fondo-bodyPage: linear-gradient(180deg, rgba(247, 237, 219, 1)
0%, rgba(255, 255, 228, 1) 100%);


// color tarjetas
$fondoTarjetas: #ffffe4;

// breck point 
$tablet: 768px;
$mobile: 576px;