.boton-miplanta {
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: black;
    ;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #AAA492;
    }

}