/* visual  */
/* #visualA {
    position: absolute;
    display: inline;
    top: 48%;
    left: 63%;
} */

#visualA-miplanta {
    position: absolute;
    display: inline;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    height: 100%;
    width: 2px;
    background-color: black;
    opacity: .2;
}






#visualB {
    position: absolute;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 2/3;
    top: 35%;
    left: 100%;
    height: 80px;
    width: 50px;
    background-color: #F7EDDB;
    opacity: .8;
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    transform: rotate(50deg);

    animation: moveimg 3s ease infinite;
}

@keyframes moveimg {
    0% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }

    50% {
        border-radius: 75% 31% 40% 71% / 83% 44% 76% 61%;

    }

    100% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }
}

#visualC {
    position: absolute;
    display: inline;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 200px;
    height: 300px;
    top: 15%;
    left: 80%;

}

#imgVisualCmiplanta {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
}



/* hero  */

#hero {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 81px 1fr 100px;
    grid-template-columns: 1fr 55% 1fr;

}

/* nombre  */

.marca {
    position: relative;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.nommarca {
    /* position: absolute;
    display: block;
    width: 53%;
    height: 50%;
    top: 20%;
    left: 23.5%;
    margin: auto; */
    text-align: center;

}

#titulo {
    font-size: 8rem;
    margin: 0;
}

#parrafonombre {
    display: inline;
    margin: 26%
}

/* scroll  */
.controlscroll {
    position: absolute;
    display: inline;
    width: 70px;
    height: 70px;
    top: 90%;
    left: 47.25%;
    opacity: .2;
}

#scroll {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#imgscroll {
    display: inline;
    width: 100%;
    height: 100%;
}

.textscroll {
    position: relative;
    display: inline;
    bottom: 130%;
    left: 4%;
    font-size: 1.2rem;
}



/* mi plnata  */

.miplanta {
    position: absolute;
    display: block;
    width: 100%;
    height: 675px;
    top: 57%;
    background-image: linear-gradient(5deg, #ffffe4 0,
 #f2f5cf 25%, #dae2b6 50%, #c1d09f 75%, #aac18d 100%);
    opacity: .9;
}

.introduccion {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}


#textmiplanta {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    width: 60%;
    left: 20%;
    top: 21%;
    z-index: 1;
    color: black;
}


/* boton miplanta  */
#botonmiplanta {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: black;
    ;
    cursor: pointer;
    text-decoration: none;

}

#botonmiplanta:hover {
    color: #AAA492;
}













/* media queries */

@media screen and (max-width: 768px) {
    #hero {
        position: fixed;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 81px 1fr;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .marca {
        align-items: start;
    }

       /* footer  */
       footer {
        position: absolute;
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: end;
        justify-self: center;
        margin-bottom: 0;
        bottom: 3%;
    }

    #iconosFooter {
        flex-direction: column;
        width: 40px;
        height: 150px;
    }



    .miplanta {
        height: 52%;
    }


    #textmiplanta {
        width: 80%;
        left: 10%;
        top: 20%;
    }

    /* visual  */
     #visualA-miplanta {
        display: none;
    } 

    .visualE {
        grid-column: 3/4;
        grid-row: 2/3;
        height: 70%;
        width: 2px;
        justify-self: center;

    }

    #visualC {
        top: 10%;
        left: 0;
    }
    #visualB {
        top: 32%;
        left: 44%;
    }

}

@media screen and (max-width: 576px) {

#hero {
    grid-template-columns: 1fr 80% 1fr;
}
.miplanta {
    top: 70%;
}
#titulo {
    font-size: 4rem;
}

  /* footer  */

  footer {
    right: 40%;
}

#iconosFooter img {
    height: 35px;
    width: 35px;
    padding: 12%;
}
.controlscroll {
    left: 39%;
}

.headsuculentas {
    font-size: 0.6rem;
    top: -1%;
    padding: 10px;
    height: 670px;
}

.collapse {
    background-color: #fafcc2;
    border-radius: 20px;
}

 #visualA-miplanta {
    display: none;
} 

.visualE {
    justify-self: flex-start;
    align-self: start;
    height: 60%;
}

#visualC {
    grid-column: 2/3;
    top: 18%;
    left: 10%;
}
#visualB {
    grid-column: 2/3;
    top: 40%;
    left: 35%;
}

#textmiplanta {
    font-size: 1rem;
}

}