/* hero  */
.hero {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 70px 1fr 100px;
    grid-template-columns: 1fr 55% 1fr;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}





/* cuidados generales */

.body-cuidGrl {
    position: relative;
    display: block;
    top: 55%;
    width: none;
    height: none;
    z-index: 1;
    font-size: 1.3rem;
    opacity: .97;
}

.body-cuidGrl-header {
    position: sticky;
    top: -1%;
    height: 750px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;    
    text-align: center;
    /* estilo  */
    border-top: solid 2px black;
    background: linear-gradient(0deg, rgba(247,237,219,1) 0%, rgba(255,255,228,1) 100%);
}



/* scroll  */
.control-scroll {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    opacity: .2;
}

.img-scroll {
    height: 50px;
    width: 50px;
}

.text-croll {
    margin: 0;
}

.tituloC {
    text-align: center;
    font-size: 1.5rem;
}

/* boton miplanta  */
.boton-miplanta {
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: black;
    ;
    cursor: pointer;
    text-decoration: none;

}

.boton-miplanta:hover {
    color: #AAA492;
}


/* consejos generales  */
.conse-cuidgrl {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    border: solid black 2px;
    border-radius: 30px;
    background-color: #DFE8CC;
}

.conse-cuidgrl-titulo {
    text-align: center;
    font-size: 2rem;
}

.tarjetas-cuidgrl {
    padding: 20px 0 20px 0;
}

.tarjetas-cuidgr-img {
    height: 350px;
    width: 350px;
    float: left;
    margin: 10px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.5);
    opacity: 1;
}

.tarjetas-cuidgrl li {
    list-style: none;
}


/* visual  */

#visualCA {
    position: absolute;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
    width: 300px;
    height: 250px;
    top: 50%;
    transform: rotate(90deg);
}

#imgVisualCuidadogrl {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
}

#visualCB {
    position: absolute;
    display: inline-block;
    grid-column: 2/3;
    grid-row: 2/3;
    top: 51%;
    left: 40%;
    height: 220px;
    width: 116px;
    background-color: #B5EAEA;
    opacity: .5;
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    transform: rotate(90deg);
    animation: moveimg 3s ease infinite;
}

@keyframes moveimg {
    0% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }

    50% {
        border-radius: 75% 31% 40% 71% / 83% 44% 76% 61%;
        transform: rotate(70deg);

    }

    100% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }
}







/* media queries */

@media screen and (max-width: 768px) {

    /* hero  */
    .hero {
        grid-template-rows: 81px 1fr;
        grid-template-columns: 1fr 60% 1fr;
    }

    .header {
        justify-content: start;
    }


    .controlscroll {
        grid-row: 2/3;
        align-self: end;
    }


    /* cuidados gennerales  */

    .body-cuidGrl{
        font-size: 1rem;
    }

    .body-cuidGrl-header {
        top: 0%;
    }





    .visualE {
        grid-column: 3/4;
        grid-row: 2/3;
        height: 60%;
        width: 2px;
        justify-self: center;

    }



    /* footer  */
    footer {
        position: absolute;
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: end;
        justify-self: center;
        margin-bottom: 0;
        bottom: 3%;
    }

    #iconosFooter {
        flex-direction: column;
        width: 40px;
        height: 150px;
    }


}



@media screen and (max-width: 576px) {

    /* hero  */
    .hero {
        grid-template-columns: 1fr 70% 1fr;
        grid-template-rows: 81px 86%;
    }

    .header {
        grid-column: 1/4;
    }

    .tituloCuidadosgrl {
        grid-column: 1/4;
    }

    #imgVisualCuidadogrl {
        width: 80%;
        height: 80%;
    }

    #visualCA {
        justify-self: end;
        align-self: center;
    }

    #visualCB {
        left: 30%;
        height: 35%;
        width: 40%;
    }

    .body-cuidGrl-header {
        font-size: 0.9rem;
        padding-top: 50px;
        justify-content: flex-start;
    }

    /* consejos  */
    .tarjetas-cuidgrl {
        text-align: center;
    }

    .tarjetas-cuidgr-img {
        width: 90%;
        height: 90%;
        float: none;
    }
    .tarjetas-cuidgrl p {
        padding-top: 10px;
    }


    .collapse {
        background-color: #fafcc2;
        border-radius: 20px;
    }
}