

.nomsuculentas {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 70px 1fr 100px ;
    grid-template-columns: 1fr 55% 1fr;
}

#tituloSuculentas {
    position: relative;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}


.suculentas {
    position: relative;
    display: block;
    height: 4500px;
    width: 100%;
    top: 55%;
    /* background-image: linear-gradient(5deg, #ffffe4 0,
    #f2f5cf 25%, #dae2b6 50%, #c1d09f 75%, #aac18d 100%); */
  
}



.controlscroll {
    position: absolute;
    display: inline-block;
    top: 90%;
    left: 47.4%;
    opacity: .2;
}
#scrollsucu {
    height: 50px;
    width: 50px;
}
#textscrollsucu {
    margin: 0;
}

.headsuculentas {
    position: sticky;
    top: 28%;
    opacity: .9;
    border-top: solid black 2px;
    color: black;
    background-color: #ffffe4;
    z-index: 1;
    padding: 10px 20px 0 20px;
} 

.galeriasuculentas {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 3000px;
    width: 100%;
    opacity: .9;
    top: 20%;
    z-index: 2;
}


/* imagenes  */

/* gennerales  */
.imgsucu {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}
.badge {
    padding: 2px;
    border: solid 2px black;
    border-radius: 50px;
}

.tituloskill {
    margin: 10px 0 10px 0;
}
.skillssuculentas {
text-align: center;
}

.frente h6 {
    margin: 10px 50px 20px 50px;
    font-size: 1rem;
    text-align: center;
}
/* ***************** */
#tarjetaA {
    /* position: absolute; */
    /* display: block; */
    height: 500px;
    border: solid black 2px;
    border-radius: 15px;
    background-color: #ffffe4;
    grid-column: 1/2;
    grid-row: 1/2;
    /* align-items: center; */
    align-self: center;
    justify-self: center;
}


#tarjetaB {
    /* position: absolute; */
    /* display: block; */
    height: 500px;
    border: solid black 2px;
    border-radius: 15px;
    /* top: 110%; */
    /* left: 50%; */
    background-color: #ffffe4;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#tarjetaC {
    /* position: absolute;
    display: block; */
    height: 500px;
    border: solid black 2px ;
    border-radius: 15px;
    /* top: 219%;
    left: 100%; */
    background-color: #ffffe4;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    
}
#tarjetaD {
    height: 500px;
    border: solid black 2px ;
    border-radius: 15px;
    /* top: 329%;
    left: 150%; */
    background-color: #ffffe4;
    grid-column: 4/5;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}
#tarjetaE {
    height: 500px;
    border: solid black 2px ;
    border-radius: 15px;
    /* top: 439%;
    left: 200%; */
    background-color: #ffffe4;
    grid-column: 3/4;
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
}

 #tarjetaF {
    /* position: relative;
    display: inline-block; */
    height: 500px;
    border: solid black 2px;
    border-radius: 15px;
    /* top: 2761px;
    left: 250%; */
    background-color: #ffffe4;
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    align-self: center;
}  


/* visual  */

#visualAA {
    position: absolute;
    display: inline;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 150px;
    height: 200px;
    top: 22%;
    left: 140%;
}    
#imgVisualSucu {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
}

#visualAB {
    position: absolute;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 2/3;
    top: 26%;
    left: 153%;
    height: 132px;
    width: 80px;
    background-color: #F8C4B4;
    opacity: .5;
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    transform: rotate(50deg);
    animation: moveimg 3s ease infinite;
}

@keyframes moveimg {
    0% {
        border-radius: 34% 64% 77% 26% / 
        73% 54% 45% 19%;
    }

    50% {
        border-radius: 75% 31% 40% 71% / 
        83% 44% 76% 61%;
        transform: rotate(40deg);
        
    }
    
    100% {
        border-radius: 34% 64% 77% 26% / 
        73% 54% 45% 19%;
    }
}