
body {
    display: grid;
    grid-template-rows: 70px 20% 73%;
    grid-template-columns: 1fr 55% 1fr;
    margin: 0;
}



.textform {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

#tituloform {
    margin: 0;
    font-size: 4rem;
}
.expliform {
    padding: 0% 15% 0% 15%;
}

.formulario {
    position: relative;
    grid-row: 3/4;
    grid-column: 2/3;
    /* display: inline-block; */
    /* top: 0%; */
    width: 500px;
    padding: 5% 10% 5% 10%;
    /* left: 24%; */
    /* height: 500px; */
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    padding: 0;
}

#contcomen {
    display: flex;
    flex-direction: column;
}



button {
    position: relative;
    top: 5%;
    
}

/* visuales  */

.visualform {
    position: absolute;
    bottom: 87%;
    grid-column: 1/2;
    grid-row: 3/4;
    z-index: -1;
    opacity: .5;
}
#fondoAform {
    position: absolute;
    height: 700px;
    width: 500px;
}

.visualformA {
    position: absolute;
    grid-column: 3/4;
    grid-column: 2/3;
    bottom: 73%;
    right: 40%;
    z-index: -1;
    opacity: .5;
}
#fondoBform {
    position: absolute;
    display: inline;
    height: 800px;
    width: 600px;
    padding-top: 0px;
}






/* media queries  */

@media screen and (max-width: 768px) {
  
    #tituloform {
        font-size: 3rem
    }
    .expliform {
        padding: 0;
    }
    form {
        width: 80%;
    }
   
    /* visual  */

    .visualformA {
        display: none;
    }



}