.nomsuculentas {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 70px 1fr 100px;
    grid-template-columns: 1fr 55% 1fr;
}

#tituloSuculentas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

/* suculentas  */
.suculentas {
    position: relative;
    display: block;
    height: 4500px;
    width: 100%;
    top: 55%;
}

.headsuculentas {
    position: sticky;
    top: 28%;
    height: 529px;
    opacity: .9;
    font-size: 0.8rem;
    border-top: solid black 2px;
    color: black;
    background-color: #ffffe4;
    z-index: 1;
    padding: 15px;
}

/* scroll  */

.controlscroll {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
    opacity: .2;
}

#scrollsucu {
    height: 50px;
    width: 50px;
}

#textscrollsucu {
    margin: 0;
}



/* galeria  */
.galeria {
    position: absolute;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    opacity: .9;
    top: 20%;
    z-index: 2;
}


/* imagenes  */

/* gennerales  */
.tarjeta {
    display: flex;
    flex-direction: column;
    height: 59%;
    border: solid black 2px;
    border-radius: 15px;
    background-color: #ffffe4;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    transition: all .4s;
}

.tarjeta:hover {
    height: 100%;
}

.frente {
    display: flex;
    flex-direction: column;
}

.frente img {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}
.frente h6 {
    margin: 10px 50px 0px 50px;
    font-size: 1rem;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.titulo-skill {
    margin: 10px 0 10px 0;
}
.badge {
    color: black;
    padding: 5px;
    border: solid 2px black;
    border-radius: 50px;
}




/* ***************** */
#tarjeta-1 {
    grid-column: 2/3;
    grid-row: 1/2;
}


#tarjeta-2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#tarjeta-3 {
    grid-column: 4/5;
    grid-row: 3/4;
}

#tarjeta-4 {
    grid-column: 5/6;
    grid-row: 4/5;
}

#tarjeta-5 {
    grid-column: 4/5;
    grid-row: 5/6;
}

#tarjeta-6 {
    grid-column: 3/4;
    grid-row: 6/7;
}


/* visual  */

#visualAA {
    position: absolute;
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    grid-row: 2/3;
    width: 200px;
    height: 250px;
    top: 20%;
    left: 67%;
}

#imgVisualSucu {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
}

#visualAB {
    position: absolute;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    align-self: center;
    top: 26%;
    right: 16%;
    height: 132px;
    width: 80px;
    background-color: #F8C4B4;
    opacity: .5;
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    transform: rotate(50deg);
    animation: moveimg 3s ease infinite;
}

@keyframes moveimg {
    0% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }

    50% {
        border-radius: 75% 31% 40% 71% / 83% 44% 76% 61%;
        transform: rotate(40deg);

    }

    100% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    }
}







/* media queries */

@media screen and (max-width: 768px) {

    .nomsuculentas {
        grid-template-rows: 81px 1fr;
        grid-template-columns: 1fr 60% 1fr;
    }

    #tituloSuculentas {
        justify-content: start;
    }


    /* scrool  */
    .controlscroll {
        grid-row: 2/3;
        align-self: end;
    }

    /* footer  */
    footer {
        position: absolute;
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: end;
        justify-self: center;
        margin-bottom: 0;
        bottom: 3%;
    }

    #iconosFooter {
        flex-direction: column;
        width: 40px;
        height: 150px;
    }

    /* galeria  */
    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    .tarjeta {
        height: 100%;
    }

    #tarjeta-1 {
        grid-column: 1/2;
    }

    #tarjeta-2 {
        grid-column: 2/3;
    }

    #tarjeta-3 {
        grid-column: 1/2;
    }

    #tarjeta-4 {
        grid-column: 2/3;
    }

    #tarjeta-5 {
        grid-column: 1/2;
    }

    #tarjeta-6 {
        grid-column: 2/3;
    }



    /* visual  */
    .visualE {
        grid-column: 3/4;
        grid-row: 2/3;
        height: 70%;
        width: 2px;
        justify-self: center;

    }

    #visualAB {
        right: 0%;
    }

}



@media screen and (max-width: 576px) {


    .nomsuculentas {
        grid-template-columns: 1fr 70% 1fr;
        grid-template-rows: 81px 86%;
    }

    #tituloSuculentas {
        grid-column: 1/4;
    }

    .galeria {
        grid-template-columns: 1fr 80% 1fr;
        row-gap: 50px;
    }

    .visualE {
        height: 50%;
        align-self: center;
        bottom: 36%;
    }

    #imgVisualSucu {
        height: 80%;
        width: 80%;
    }

    #visualAA {
        top: initial;
        left: 15%;
        justify-self: start;
    }

    #visualAB {

        top: initial;
        right: 30%;
    }

    /* footer  */

    footer {
        right: 10%;
    } 
    #iconosFooter img {
        height: 35px;
        width: 35px;
        padding: 12%;
    } 

    .headsuculentas {
        font-size: 0.6rem;
        top: -1%;
        padding: 10px;
        height: 670px;
    }


    /* tarjetas  */
    #tarjeta-1,
    #tarjeta-2,
    #tarjeta-3,
    #tarjeta-4,
    #tarjeta-5,
    #tarjeta-6 {
        grid-column: 2/3;
    }

    .skills {
        font-size: 0.8rem;
    }

    .collapse {
        background-color: #fafcc2;
        border-radius: 20px;
    }

}