

.body-cuidGrl {
    @include body-page (none , none);
    z-index: 1;
    font-size: 1.3rem;
    opacity: 0.97;

    .body-cuidGrl-header {
        @include heder-body (750px, 100%, -1% );
        flex-direction: column;
        justify-content: center;
        margin-bottom: 200px;    
        text-align: center;
    }

}

@media screen and (max-width: $tablet) {
    .body-cuidGrl-header {
        top: 0%;
    }
}

@media screen and (max-width: $mobile) {
    .body-cuidGrl-header {
        font-size: 0.73rem;
        padding-top: 50px;
        justify-content: flex-start;
    }
}