.hero-form {
    position: relative;
    display: grid;
    grid-template-rows: 70px 1fr 4fr;
    grid-template-columns: 1fr 55% 1fr;
    margin: 0;
    .expliform {
        padding: 0% 15% 0% 15%;
    }

    .formulario {
        grid-row: 3/4;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        justify-self: center;
        align-self: center;
        padding: 0;

        .button-form {
            margin-top: 10px;
        }
        #formulario-coment{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: $tablet) {
    .expliform {
        padding: 0;
    }
    form {
        width: 80%;
    }
}

@media screen and (max-width: $mobile) {
    .hero-form {
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: 70px 1.5fr 4fr;
    }

}